body{
    background: #2c3e50;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
    }
    button {
        background-color: #75e9e5; 
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 4px 2px;
        cursor: pointer;
      }
    #vid{
    opacity: 0.5;
    position: absolute;
    display: block;
    z-index: -1;
    right: 0;
    bottom:0;
    padding: 0;
    width:100%;
    background-color: aqua;
    }
    
    .hero{
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
    }
    
    nav{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
    }
    
    
    nav .logo{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-right: 0px;
    z-index: 1;
    }
    
    nav h2{
    display: inline-block;
    position: absolute;
    margin-top:35px;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 40px;
        padding: 0px;
        z-index: 1;
        font-family: Helvetica;
        transition: .5s;
    }
    
    nav ul li a{
      color: white;
      text-decoration: none;
      transition: .5s;
    }
    nav ul li:hover{
      transform: scale(0.95);
      transition: .2s;
    }
    nav ul li a:hover{
      color: #75e9e5;
      transition: .2s;
    }
    nav ul li button{
      font-weight: bold;
      transition: .5s;
    }
    nav ul li button:hover{
      font-weight: bold;
      transform: scale(0.9);
      transition:.3s;
    }
    img{
        border-radius: 25px;
    }

    .content{
        text-align: left;
        padding-top: 150px;
        margin-left: 150px;
        color: white;
        z-index: 1;
        font-size: 18px;
        justify-content: center;
        padding-bottom:20px;
    }
    .f{
        text-align: center;
        font-size: 1000px;
        margin-top: 300px;
        color: white;
        z-index: 1;
        font-size: 18px;
        justify-content: center;
    
    }
    .content2{
        text-align: left;
        padding-top: 150px;
        margin-left: 150px;
        color: white;
        z-index: 1;
        float: left;
        font-size: 18px;
        justify-content: center;
    
    }
    
    .content3{
        text-align: left;
        padding-top: 150px;
        margin-left: 150px;
        color: white;
        z-index: 1;
        float: left;
        font-size: 18px;
        justify-content: center;
    
    
    }
    
    #Phone{
        width:25%;
        height:25%;
        float: right;
        position: center;
        margin-left: 100px;
        vertical-align: text-bottom;
        margin-bottom: 60px;
    }
    #Phone2{
        width:25%;
        height:25%;
        float: left;
        position: center;
        margin-right: 100px;
        padding-left: 0;
        vertical-align: text-bottom;
    }
    #Ticket_Image{
        width:20%;
        height:20%;
        float: Left;
        position: center;
        margin-right: 100px;
        padding-left: 0;
        vertical-align: text-bottom;
    
    }
    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }
    .container {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroll {
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 50%;
        position: relative;
        animation: down 1.5s infinite;
        -webkit-animation: down 1.5s infinite;
        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 18px;
            width: 18px;
            height: 18px;
            border-left: 2px solid white;
          border-bottom: 2px solid white;
            transform: rotate(-45deg);
        }
    }
    
    @keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(15px);
        }
        40% {
            transform: translate(0);
        }
    }
    
    @-webkit-keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(15px);
        }
        40% {
            transform: translate(0);
        }
    }
    